@import "variables";

html {
    height: 100%;
}

body {
    background-color: $white;
    color: $black;
    display: flex;
    flex-flow: column;
    font-family: "ten-mincho", serif;
    font-size: 16px;
    line-height: 30px;
    min-height: 100%;
}

.container {
    flex: 1;
}

h1,
p {
    margin: 0;
}

a:hover {
    color: $black;
    text-decoration: none;
}

caption {
    text-align: center;
    caption-side: top;
}

.main-title {
    background-color: $menuColor;
    color: $white;
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
}

.table-height {
    height: 4rem;
}
